<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="http://www.nuffoodsspectrum.in/NuFFooDs_CMS/upload/FILE_5a51fab911e781.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i0.wp.com/www.boozist.com/wp-content/uploads/2016/10/Absolut-Elyx-Boozist.jpg?resize=768%2C512" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://www.vinmoldova.md/upload_fck/image/news%20(large%20img)/Tequila_Avion.jpg" alt="Third slide">
    </div>
  </div>
</div>