    <h2>Find Your Favorite Drink!</h2>

    {{!-- <a href="/">Go Back to Main Page</a> --}}

    <div id="edit-form" class="drink-container-show">

   <form action="/" method="POST">
  <div>
    <label for="label">Drink</label>
    <input type="text" name="label" placeholder="Drink Name" />
  </div>
  <div>
    <label for="img">Image URL</label>
    <input type="text" name="img" placeholder="Image URL" />
  </div>
  <div>
    <label for="price">Price</label>
    <input type="number" name="price" placeholder="Price" />
  </div>
  <div>
    <label for="size">Size</label>
    <input type="number" name="Size" />
  </div>
  <button type="submit">Boooze!</button>
</form>

    </div>
</main>